{{#each articles}}
  <div class="card mb-5">
    <div class="card-header text-center text-white bg-success">
     <h5>{{this.title}}</h5>
     </div>
   
    <div class="card-body">
      <div class="row">
         <div class="col-8">
          <h6>Article Summary:</h6>
          <p>{{this.summary}}</p>
        </div>
      </div>
     
      <div class="row">
        <a href="{{this.link}}" type="button" class="btn btn-warning ml-20 mr-4" target="_blank">Read Article</a>
        <button type="button" class="btn btn-warning mr-4" id="save-article" data-id="{{this._id}}">Save Article</button>
       
      </div>
    </div>
  </div>
  {{/each}}
  
 